@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #F6F7F8;
}
.preview {
    position: absolute;
    opacity: 0;
}
.spinner {
    display: block;
    margin: 0 auto;
}
